body {
    margin: 0px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.navbar {
    padding: 20px;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}

.navbar-left svg {
    width: 50px;
    margin-right: 20px;
}

.navbar-left div {
    text-transform: uppercase;
    font-weight: 600;

}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left > * {
    padding: 10px;
}

.find-a-store {
    display: flex;
    align-items: center;
}

